# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

- Pyhton
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:

- Scipy
- Numpy
- Matplotlib

Data science tools: 
- Jupyternotebook
- vscode
- colab

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

In [4]:
# This a simple arithmetic expression to mutiply then add integers
a=(3*4)+5
print(a)

17

**OBJECTIVES:**
  
##### Popular data sicence languages:
- Python
- R
- SQL
- JAVA

## AUTHOR

SIDDHANT  NIJHAWAN